# /etc/bcache/bcache.conf
# cache_devices:
#   - device: /dev/sdc
#     backing_devices:
#       - device: /dev/sda
#         cache_mode: wt
          sequential_cutoff: 0
#       - device: /dev/sdb
#         cache_mode: wb
#     flash_disks:
#       - size: 20G
#         label: "swap"
